
 

  center {
    text-align: center;
  }

  h1, h3 {
    color: #050505;
  }
  #mm{
    background-color: #ffe0b2;
  }
  .dark-mode #mm {
    background-color: white;
    
  }
  .dark-mode, .dark-mode tr, .dark-mode td {
    background-color: black;
    color: white;
  }
  
  
  .light-mode {
    background-color: white;
    color: black;
  }
tr:first-child {
    background-color: #dadada;
    font-weight: bold;
    font-size: 20px;
  
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    
    
  }

  th {
    background-color: #4CAF50;
    color: white;
  }

  

 

